<a href="https://colab.research.google.com/github/dhanvik23/python101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

Data Type
List Type

In [1]:
#@title 1.Creating an empty list
x = []
print(x)

[]

In [3]:
#@title 2.Creating a list with some elements
x = [7,8,4,"rose"]
print(x)

[7, 8, 4, 'rose']

In [6]:
#@title 3.Adding elements at the end
x = [7,8,4,"rose"]
print("original list: ", x)
x.append(5)
print("additional element at the end: ", x)

original list:  [7, 8, 4, 'rose']
additional element at the end:  [7, 8, 4, 'rose', 5]

In [9]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

x = [7,8,4,"rose"]
first = x[0]
print('first element: ', first)
second = x[1]
print('second element: ', second)
third = x[2]
print('third element: ', third)
last = x[3]
print('last element: ', last)

first element:  7
second element:  8
third element:  4
last element:  rose

In [16]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

x = [7,8,4,"rose"]
last = x[-1]
print('last element: ', last)
stl = x[-2]
print('second to last element: ' , stl)
ttl = x[-3]
print('third to last element: ', ttl)
first = x[-4]
print('first element: ', first)

last element:  rose
second to last element:  4
third to last element:  8
first element:  7

In [20]:
#@title 6.Adding an element at the front of the list
x = [7,8,4,"rose"]
#adding 5 to the beginning
x.insert(0,5)
print(x)

[5, 7, 8, 4, 'rose']
[5, 7, 'jake', 8, 4, 'rose']

In [21]:
#@title 7.Adding an element anywhere (at a specific index) 
x = [7,8,4,"rose"]
#adding 'jake' at spot 3
x.insert(2,'jake')
print(x)

[7, 8, 'jake', 4, 'rose']

In [2]:
#@title 8.Updating (or Replacing) an element
x = [7,8,4,"rose"]
print('original: ',x)
x[2] = 6
print('replaced: ',x)

original:  [7, 8, 4, 'rose']
replaced:  [7, 8, 6, 'rose']

In [3]:
#@title 9.Looping through the list (just for READING)
x = [7,8,4,"rose"]
for y in x:
  print(y)

7
8
4
rose

In [5]:
#@title 10.Looping through the list (for UPDATING)

x = [7,8,4,"rose", 23, 13, 17, 16]

length = len(x)

for y in range(length):
  element = x[y]
  print(element)

7
8
4
rose
23
13
17
16

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

In [ ]:
#@title 14.Removing an element by value

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists